{{ form_start(form) }}
    <div class="form-header">
        <div class="title">
            {{ form_label(form.title) }}
            {{ form_errors(form.title) }}
            {{ form_widget(form.title) }}
        </div>
    </div>

   <div class="form-body">
       <div class="answer">
           {{ form_label(form.answer) }}
           {{ form_errors(form.answer) }}
           {{ form_widget(form.answer) }}
       </div>

       <div class="large-7 cell base-checkbox">
           <div class="multiple_choise">
               {{ form_label(form.multiple_choice) }}
               {{ form_errors(form.multiple_choice) }}
               {{ form_widget(form.multiple_choice) }}
           </div>

          {# <div class="draft">
               {{ form_label(form.draft) }}
               {{ form_errors(form.draft) }}
               {{ form_widget(form.draft) }}
           </div>#}
       </div>

       <button type="button" class="add-another-collection-widget button small shadow" data-list-selector="#email-fields-list">{{ 'create.add_choice'|trans() }}</button>

       <button class="btnsave alert button small expanded shadow">{{ 'create.save'|trans() }}</button>
   </div>
{{ form_end(form) }}
