{% extends 'base.html.twig' %}

{% block title %}Poll index{% endblock %}

{% block body %}
    <h1>Poll index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Multiple_choice</th>
                <th>Draft</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for poll in polls %}
            <tr>
                <td>{{ poll.id }}</td>
                <td>{{ poll.title }}</td>
                <td>{{ poll.multipleChoice ? 'Yes' : 'No' }}</td>
                <td>{{ poll.draft ? 'Yes' : 'No' }}</td>
                <td>{{ poll.date ? poll.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('poll_show', {'id': poll.id}) }}">show</a>
                    <a href="{{ path('poll_edit', {'id': poll.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('poll_new') }}">Create new</a>
{% endblock %}
