{% extends 'base.html.twig' %}

{% block title %}{{ 'create.strawpoll'|trans() }}{% endblock %}

{% block body %}
    <div class="strawpoll-container">
        <div class="strawpoll-wrapper">

            <div class="strawpoll-content">
                <header>
                    {{ include('poll/_form.html.twig') }}
                </header>
            </div>

        </div>
    </div>
{% endblock %}
