{% extends 'base.html.twig' %}

{% block title %}{{ poll.title }}{% endblock %}

{% block body %}
    {{ poll.title }}

    {% for content in poll.answer %}
        <div>{{ content.content }}{{ content.voteCount }}</div>
    {% endfor %}
{% endblock %}
