{% extends 'base.html.twig' %}

{% block title %}. {% endblock %}

{% block body %}



    <div class="strawpoll-container">
        <div class="strawpoll-wrapper">

            <div class="strawpoll-content">
                <header class="vote-header">
                    {{ poll.title }}
                </header>
                <div class="vote-body">
                    {{ form_start(voteForm) }}
                    {% for content in voteForm.content %}
                        <div>{{ form_widget(content) }}{{ form_label(content) }}</div>
                    {% endfor %}
                    {{ form_rest(voteForm) }}
                    <input class="btnsave alert button small expanded shadow" type="submit" value="Voter">
                    {{ form_end(voteForm) }}
                </div>
            </div>

        </div>
    </div>
{% endblock %}
