$body-color: #211f1f;
$section-color: #f9f9f9f9;
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

@import "./foundation.scss";


body {
  font-family: 'Architects Daughter', cursive !important;
}

li {
  list-style: none;
}

input[type='text'] {
  font-family: 'Architects Daughter', cursive;
  background: none !important;
  box-shadow: none !important;
  border: none !important;
  border-bottom: 1px solid #cc4b37 !important;

  //text-align: right;
  //unicode-bidi:bidi-override;
  // direction:rtl;

  &::placeholder {
    color: black;
    font-family: 'Architects Daughter', cursive;
    font-size: 1.2rem;
  }
}

.strawpoll-container {
  min-width: 100%;
  min-height: 100vh;
  background: $body-color;
  height: 100%;
  max-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;

  &:before {
    opacity: .5;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    background-image: url("../images/bg-hero.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    //filter: blur(2px);
  }

  &:after {
    opacity: .5;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    background: white;
  }

  .strawpoll-wrapper {
    z-index: 2;
    max-width: 900px;
    width: 100%;
    min-height: 600px;
    height: 100%;
    margin: 10px;
    padding: 10px;

    //font: 18px/1.5 sans-serif;
    //margin: 0 15rem;
    //background: #3b76b7;
    //box-shadow: 0 0 12px rgba(#000, .7);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .left {
      flex: 0 0 30%;
      background: rgba($section-color, .8);
      margin-right: 10px;
      border: 1px solid rgba(#FFF, .5);
      box-shadow: 0 0 12px rgba(#000, .7);
      h1 {
        font-size: 24px;
      }
    }

    .strawpoll-content {
      height: 100%;
      flex: 1;

      .form-header {
        position: relative;
        border: 1px solid rgba(#FFF, .5);
        box-shadow: 0 0 12px rgba(#000, .7);

        background-image: url("../images/banner-header.png");
        background-size: cover;
        background-position: right;
        background-repeat: no-repeat;

        &:before {
          opacity: .3;
          z-index: 0;
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          content: '';
          background: white;
        }
      }

      .vote-header {
        font-size: 24px;
      }

      .form-body, .vote-body {
        height: 100%;
        margin-top: 10px;
        background: rgba($section-color, .3);
        border: 1px solid rgba(#FFF, .5);
        box-shadow: 0 0 12px rgba(#000, .7);
      }

      .vote-body label {
        padding: 0 10px;
        font-size: 18px;
      }

      .vote-body input[type='radio'] {

        margin: 10px 0 10px 10px;
      }
    }
/*
    &:before {
      z-index: -1;
      position: absolute;
      left: 30px;
      top: 0;
      width: 2px;
      height: 90%;
      content: '';
      background: rgba(#cc4b37, .2);
    }

    &:after {
      z-index: -1;
      position: absolute;
      left: 50px;
      bottom: 0;
      width: 2px;
      height: 90%;
      content: '';
      background: rgba(#cc4b37, .2);

    }*/

    h1 {
      z-index: 10;
      padding-top: 20px;
      padding-left: 10px;
      font-family: 'Architects Daughter', cursive;
    }

    .title, .zbi {
      position: relative;
      font-family: 'Architects Daughter', cursive;
      z-index: 10;

      .title-label {
        position: absolute;
        top: -38px;
        left: -24px;
        background: rgba(#2c3942, 1);
        box-shadow: 2px 2px 2px 2px rgba(#3a76b7, .8);
        color: white;
        padding-right: 10px;
        height: 40px;
        overflow: hidden;
        font-size: 22px;

        clip-path: polygon(7% 0%, 100% 0%, 93% 100%, 0% 100%);
      }

      .title-input {
        margin-top: 15px;
        margin-bottom: 5px;
        border-bottom: 1px solid white !important;

        &::placeholder {
          color: black;
          font-weight: 400;
          text-align: left;
        }
      }
      label {
        font-size: 1.5rem;
        padding-left: 10px;
      }
    }

    .answer {
      position: relative;

      .answer-label {
        font-size: 22px;
        padding-left: 10px;
        position: absolute;
        top: -38px;
        left: -24px;
        background: rgba(#2c3942, 1);
        box-shadow: 2px 2px 2px 2px rgba(#3a76b7, .8);
        color: white;
        padding-right: 10px;
        height: 40px;
        overflow: hidden;
        clip-path: polygon(7% 0%, 100% 0%, 93% 100%, 0% 100%);
      }

      #poll_answer {
        margin-top: 30px;
      }
    }

    .base-checkbox {
      z-index: 10;
      @include display(flex);
      padding-top: 10px;
      padding-left: 20px;

      .zbi, .duplication, .draft, .multiple_choise, #poll_answer, .answer, .divpnl {
        &>*{
          font-family: 'Architects Daughter', cursive;
        }
      }
      .multiple_choise{
        label {
          font-size: 1.2rem;
        }
        margin-left: 5px;
      }

      .draft {
        label {
          font-size: 1.2rem;
        }
        margin-left: 10px;
      }
    }
  }
}

.divpnl {
  position: relative !important;
}

.remove-tag {
  position: absolute;
  top: 0;
  right: 0;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.add-another-collection-widget, .btnsave {
  margin-bottom: .5rem !important;
}
